.features__wrap{
  background-color: $white-bg;
  border-radius: 10px;
}

.skills__list{
  padding: 0 20px;
  //position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  //background-color: rgba(0,0,0,1);
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 500ms;
  border: 2px solid $blue;
  border-radius: 15px;
}

.skills__item{
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;


  &:hover{
  }
}
