.main-nav{
  top: 0;
  left: 0;
  position: absolute;
  height: 52px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
}

.nav__wrap{
  display: flex;
  justify-content: space-between;
}

.nav__list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item{
  margin-left: 20px;
}

.nav__link{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $white;
  text-decoration: none;
}
